{% extends "base.html" %}
{% block content %}
<div class="container page-section">
    <h1 class="page-title">My Work</h1>
    
    <h2 class="section-title">Photo Gallery</h2>
    <div class="grid">
        {% for photo in photos %}
            {# Her 4. resme daha geniş olması için özel bir sınıf ekliyoruz #}
            {% set item_class = 'grid-item grid-item--width2' if loop.index % 4 == 0 else 'grid-item' %}

            <div class="{{ item_class }}">
                <img src="{{ url_for('static', filename='uploads/' + photo.filename) }}" alt="Nail art photo">
            </div>
        {% endfor %}
    </div>

    <hr class="section-divider">

    <h2 class="section-title">Video Gallery</h2>
    <div class="gallery-grid">
        {% for video in videos %}
            <div class="gallery-item">
                <video controls>
                    <source src="{{ url_for('static', filename='uploads/' + video.filename) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<script>
window.addEventListener('load', () => {
    var elem = document.querySelector('.grid');
    var msnry = new Masonry( elem, {
      // seçenekler
      itemSelector: '.grid-item',
      columnWidth: '.grid-item', /* Sütun genişliğini standart bir elemana göre ayarla */
      percentPosition: true,
      gutter: 15 /* Elemanlar arası boşluk (CSS'e de yansıyabilir) */
    });
});
</script>